rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isLoggedIn() {
      return request.auth.uid != null
    }

    match /{allPaths=**} {
      allow read: if isLoggedIn();
      allow write: if false;
    }
  }
}
